# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
.AppleDouble

# Editor
.vscode/
.idea/
*.swp
*~

# TypeScript
*.tsbuildinfo
next-env.d.ts
